@tailwind base;
@tailwind components;
@tailwind utilities;

.project {
    border-left: 2px solid;
    padding-left: 8px;
    word-wrap: break-word;
    margin-bottom: 30px;
    border-color: #4F5D95;
}
.project small {
    color: #999;
    font-size: 12px;
    line-height: 1.3;
}