<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include 'partials/nav.html.twig' %}
    <div class="px-6">
        {% block messages %}{% endblock %}
    </div>
    <section class="h-screen">
        <div class="container px-6 py-12 px-6 h-full text-gray-800">
            {% block body %}
            {% endblock %}
        </div>
    </section>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
